<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="com.source.Listeners"/>
<listener class-name="com.source.ExtentReporterNG"/>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
<!--       <class name="com.test.GeneralStoreTest"/> -->
        <class name="com.test.APIdemoTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
